.common {
  background-color: rgb(253,253,253);
  font-family: 'Roboto', sans-serif;
}

.introduction {
  font-size: x-large;
  margin-bottom: 5%;
}

.footer-copyright {
  padding-top:3%;
  padding-bottom: 3%;
  background-color: #000;
  margin-top: 5%;
  color: #FFF;
}

