body {
  background-color: rgb(10,10,10);
}

.router-wrapper {
  padding-top: 80px;
}

.common {
  background-color: rgb(10,10,10);
  font-family: 'Roboto', sans-serif;
  color: white;
}

.container {
  max-width: 100%;
  padding: 0;
}

p.introduction {
  font-size: x-large;
  padding-bottom: 0;
  margin-bottom: 10px;
}

.footer-copyright {
  padding-top:3%;
  padding-bottom: 3%;
  background-color: rgb(10,10,10);
  margin-top: 5%;
  color: #FFF;
}

