<nav class='navbar navbar-light navbar-expand-md bg-faded fixed-top'>
  <a class='navbar-brand' routerLink="/carousel" routerLinkActive="active">Yildiz-Engine</a>
  <div class='navbar-collapse collapse w-100'>
    <ul class='nav navbar-nav ml-auto w-100 justify-content-end'>
      <li class='nav-item'>
        <a class='nav-link' href='#'>Getting started</a>
      </li>
      <li class='nav-item'>
        <a routerLink="/repositories" routerLinkActive="active" class='nav-link' >Repositories</a>
      </li>
      <li class='nav-item'>
        <a class='nav-link' href='https://yildiz.atlassian.net/secure/RapidBoard.jspa?projectKey=YE' target='_blank'>Jira</a>
      </li>
    </ul>
  </div>
</nav>
