<nav class='navbar navbar-expand-md bg-faded fixed-top'>
  <a class='navbar-brand' routerLink="/home" routerLinkActive="active">Yildiz-Engine</a>
  <div class='navbar-collapse collapse w-100'>
    <ul class='nav navbar-nav ml-auto w-100 justify-content-end'>
      <!--<li class='nav-item'>
        <a router-link="/repositories" routerLinkActive="active" class='nav-link' >Getting started</a>
      </li>-->
      <li class='nav-item'>
        <a routerLink="/tutorial" routerLinkActive="active" class='nav-link nav-text' >Getting started</a>
      </li>
      <li class='nav-item'>
        <a routerLink="/repositories" routerLinkActive="active" class='nav-link nav-text' >Repositories</a>
      </li>
      <li class='nav-item'>
        <a class='nav-link nav-text jira' href='https://yildiz.atlassian.net/secure/RapidBoard.jspa?projectKey=YE' target='_blank'>Jira</a>
      </li>
      <li class='nav-item'>
        <a class='nav-link facebook' href='https://www.facebook.com/yildizonlinegame/' target='_blank'><img class="logo" src="/assets/facebook-logo.png" alt='Facebook'/></a>
      </li>
      <li class='nav-item'>
        <a class='nav-link' href='https://www.youtube.com/channel/UCdUK5AKFfVs-eDVjyShAhjw' target='_blank'><img class="logo" src="/assets/youtube-logo.png" alt='Youtube'/></a>
      </li>
    </ul>
  </div>
</nav>
