<nav class='navbar navbar-expand-md bg-faded fixed-top'>
  <a class='navbar-brand' routerLink="/home" routerLinkActive="active"><img class="logo" src="/assets/logo.png" alt='Logo'/>Yildiz-Engine</a>
  <div class='navbar-collapse collapse w-100'>
    <ul class='nav navbar-nav ml-auto w-100 justify-content-end'>
      <li class='nav-item'>
        <a routerLink="/tutorial" routerLinkActive="active" class='nav-link' data-toggle="tooltip" data-placement="bottom" title="Getting started"><img class="icon" src="/assets/navigation/getting-started.png" alt='Getting started'/></a>
      </li>
      <li class='nav-item'>
        <a routerLink="/repositories" routerLinkActive="active" class='nav-link' data-toggle="tooltip" data-placement="bottom" title="Code repositories"><img class="icon" src="/assets/navigation/repositories.png" alt='Repositories'/></a>
      </li>
      <li class='nav-item'>
        <a class='nav-link ' href='https://yildiz.atlassian.net/secure/RapidBoard.jspa?projectKey=YE' target='_blank' data-toggle="tooltip" data-placement="bottom" title="Bug tracker"><img class="icon" src="/assets/navigation/bug-tracker.png" alt='Jira'/></a>
      </li>
      <li class='nav-item'>
        <a class='nav-link facebook' href='https://www.facebook.com/yildizonlinegame/' target='_blank' data-toggle="tooltip" data-placement="bottom" title="Facebook"><img class="icon" src="/assets/navigation/facebook-logo.png" alt='Facebook'/></a>
      </li>
      <li class='nav-item'>
        <a class='nav-link' href='https://www.youtube.com/channel/UCdUK5AKFfVs-eDVjyShAhjw' target='_blank' data-toggle="tooltip" data-placement="bottom" title="Youtube"><img class="icon" src="/assets/navigation/youtube-logo.png" alt='Youtube'/></a>
      </li>
    </ul>
  </div>
</nav>
